<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.FilmMapper">
    <select id="selectFilmById" parameterType="int" resultType="entity.Film">
        SELECT * FROM film WHERE film_id = #{filmId}
    </select>

    <select id="selectFilmsByTitle" parameterType="java.lang.String" resultType="entity.Film">
        SELECT * FROM film WHERE title LIKE #{title}
    </select>
</mapper>
