<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="maskPhone" converterClass="logback_filtering.filter.UserDataConverter"/>

    <!-- Appender with masking for the logback_filtering package -->
    <appender name="MASKING_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %maskPhone(%msg)\n</pattern>
        </encoder>
    </appender>

    <!-- Default appender without masking -->
    <appender name="DEFAULT_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- This logger applies the masking rule only to the logback_filtering.ClientExample class -->
    <logger name="logback_filtering.ClientExample" level="DEBUG" additivity="false">
        <appender-ref ref="MASKING_CONSOLE"/>
    </logger>

    <!-- The root logger uses the default console without masking -->
    <root level="DEBUG">
        <appender-ref ref="DEFAULT_CONSOLE" />
    </root>
</configuration>